@media (max-width: 960px) {
    #video-call {
        width: 80%;
    }

    #alavanque {
        font-size: 4vh;
    }

    #alavanque span {
        font-size: 10vh;
    }
}

@media (max-width: 800px) {

    header,
    nav {
        display: inline-block;
        text-align: center;
    }

    #principal {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #video-call {
        width: 100%;
        height: 100%;
        margin: 50px 0px;
    }

    #main-text {
        width: 100%;
        height: 100%;
    }

    #alavanque {
        font-size: 3.4vh;
        text-align: center;
    }

    #alavanque span {
        font-size: 6vh;
    }

    .button-red {
        width: 370px;
        text-align: center;
    }

    #servicos {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    #imgcoding {
        width: 100%;
        height: 100%;
        margin: 150px 0px 0px;
    }

    #list {
        height: 40vh;
        width: 100%;
    }

    #list ul li {
        font-size: 4vh;
        padding-bottom: 5px;
    }

    #contato-tele {
        width: 100%;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }

    #contato-tele h2 {
        font-size: 1em;
        text-align: center;
    }

    #contato-tele div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #button-redw {
        margin-top: 5px;
    }

    #documentario-av {
        flex-direction: column;
    }

    .avaliacao {
        width: 80%;
    }

    .circle {
        width: 50px;
        height: 50px;
    }

    footer {
        flex-direction: column;
        height: 100%;
        padding-bottom: 40px;
    }

    footer h2 {
        margin: 30px 0px 10px 0px;
    }

    .Codar {
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0px;
    }

    #codar-title {
        margin-top: 15px;
        margin: 15px 0px 5px 0px;
    }

    .Codar p {
        margin-bottom: 20px ;
    }

    .Sobre,
    .Contato,
    .Redes {
        width: 100%;
        padding: 0px 0px 0px 30px;
    }


    .Redes div {
        justify-content: flex-start;
    }

    .Redes div img {
        width: 60px;
        margin-right: 35px;
    }

}

@media (max-width: 440px) {
    #login {
        display: none;
    }
}